
Chess_3D/Temp/UnityLockfile
Chess_3D/Library/SourceAssetDB
Chess_3D/Library/ArtifactDB
Chess_3D/Library/EditorInstance.json
Chess_3D/Library/PackageCache/com.unity.ide.rider@1.1.4/package.json
Chess_3D/Library/ScriptAssemblies/Assembly-CSharp.dll
Chess_3D/Library/ScriptAssemblies/Assembly-CSharp.pdb
Chess_3D/Library/shadercompiler-UnityShaderCompiler.exe4.log
Chess_3D/Library/SourceAssetDB
Chess_3D/Library/Style.catalog
Chess_3D/Packages/packages-lock.json
Chess_3D/Temp/__Backupscenes/0.backup
Chess_3D/Temp/UnityTempFile-2d05e191c01c7224ca80433bd19952e4
Chess_3D/Temp/UnityTempFile-cf535910915473547b3e8de64581e16b
